/* Paleta de cores */
/* Tons de Azul */

.col-blu-00 {
    background-color: #0058ff;
    color: #f9f3e9;
}
.col-blu-01 {
    background-color: #1464f8;
    color: #f9f3e9;
}
.col-blu-02 {
    background-color: #1464f8;
    color: #f9f3e9;
}
.col-blu-03 {
    background-color: #1082f6;
    color: #f9f3e9;
}
.col-blu-04 {
    background-color: #3e98f3;
    color: #f9f3e9;
}
.col-blu-05 {
    background-color: #57a7f8;
    color: #111111;
}
.col-blu-06 {
    background-color: #6cb1f7;
    color: #111111;
}
.col-blu-07 {
    background-color: #8cc1f5;
    color: #111111;
}
.col-blu-08 {
    background-color: #abd0f1;
    color: #111111;
}
.col-blu-09 {
    background-color: #c0daf1;
    color: #111111;
}

/* Tons de Verde */

.col-gre-00 {
    background-color: #00b100;
    color: #f9f3e9;
}
.col-gre-01 {
    background-color: #2bb42b;
    color: #f9f3e9;
}
.col-gre-02 {
    background-color: #4bcf4b;
    color: #f9f3e9;
}
.col-gre-03 {
    background-color: #7ce67c;
    color: #f9f3e9;
}
.col-gre-04 {
    background-color: #83e983;
    color: #f9f3e9;
}
.col-gre-05 {
    background-color: #9bf19b;
    color: #111111;
}
.col-gre-06 {
    background-color: #a2fca2;
    color: #111111;
}
.col-gre-07 {
    background-color: #b6f8b6;
    color: #111111;
}
.col-gre-08 {
    background-color: #c2f8c2;
    color: #111111;
}
.col-gre-09 {
    background-color: #caf7ca;
    color: #111111;
}

/* Tons de Vermelho */

.col-red-00 {
    background-color: #eb2308;
    color: #f9f3e9;
}
.col-red-01 {
    background-color: #eb4c37;
    color: #f9f3e9;
}
.col-red-02 {
    background-color: #eb5948;
    color: #f9f3e9;
}
.col-red-03 {
    background-color: #ec6b5c;
    color: #f9f3e9;
}
.col-red-04 {
    background-color: #ee7568;
    color: #f9f3e9;
}
.col-red-05 {
    background-color: #f38378;
    color: #111111;
}
.col-red-06 {
    background-color: #f3958c;
    color: #111111;
}
.col-red-07 {
    background-color: #f7a7a0;
    color: #111111;
}
.col-red-08 {
    background-color: #fcb3ae;
    color: #111111;
}
.col-red-09 {
    background-color: #fac2bf;
    color: #111111;
}

/* Tons de Cinza */

.col-gra-00 {
    background-color: #444444;
    color: #f9f3e9;
}
.col-gra-01 {
    background-color: #555555;
    color: #f9f3e9;
}
.col-gra-02 {
    background-color: #666666;
    color: #f9f3e9;
}
.col-gra-03 {
    background-color: #777777;
    color: #f9f3e9;
}
.col-gra-04 {
    background-color: #888888;
    color: #f9f3e9;
}
.col-gra-05 {
    background-color: #999999;
    color: #111111;
}
.col-gra-06 {
    background-color: #aaaaaa;
    color: #111111;
}
.col-gra-07 {
    background-color: #bbbbbb;
    color: #111111;
}
.col-gra-08 {
    background-color: #cccccc;
    color: #111111;
}
.col-gra-09 {
    background-color: #dddddd;
    color: #111111;
}

/* Fontes */

.fnt-roboto {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fnt-arial {
    font-family: Arial, Helvetica, sans-serif
}

.fnt-verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fnt-roboto-b-l {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: left;
}
.fnt-roboto-b-r {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: right;
}
.fnt-roboto-b-c {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}
.fnt-roboto-b-j {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: justify;
}
.fnt-roboto-i-l {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    text-align: left;
}
.fnt-roboto-i-r {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    text-align: right;
}
.fnt-roboto-i-c {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    text-align: center;
}
.fnt-roboto-i-j {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    text-align: justify;
}
.fnt-roboto-n-l {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    text-align: left;
}
.fnt-roboto-n-r {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    text-align: right;
}
.fnt-roboto-n-c {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    text-align: center;
}
.fnt-roboto-n-j {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    text-align: justify;
}
.fnt-arial-b-l {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
}
.fnt-arial-b-r {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
}
.fnt-arial-b-c {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.fnt-arial-b-j {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
}
.fnt-arial-i-l {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: left;
}
.fnt-arial-i-r {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: right;
}
.fnt-arial-i-c {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
}
.fnt-arial-i-j {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: justify;
}
.fnt-arial-n-l {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: left;
}
.fnt-arial-n-r {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: right;
}
.fnt-arial-n-c {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;
}
.fnt-arial-n-j {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: justify;
}
.fnt-verdana-b-l {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: left;
}
.fnt-verdana-b-r {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: right;
}
.fnt-verdana-b-c {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}
.fnt-verdana-b-j {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: justify;
}
.fnt-verdana-i-l {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: left;
}
.fnt-verdana-i-r {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: right;
}
.fnt-verdana-i-c {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: center;
}
.fnt-verdana-i-j {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: justify;
}
.fnt-verdana-n-l {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-align: left;
}
.fnt-verdana-n-r {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-align: right;
}
.fnt-verdana-n-c {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-align: center;
}
.fnt-verdana-n-j {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-align: justify;
}

/* Estrutura */

section {
    width: 100%;
   
    padding: 1%;
    margin: 0.25%;
    
}
section.card{
    height: auto;
    margin: 1% 0.3%;
}

section.media{
    height: auto;
    width: 100%;    
}

* {
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 960px;
    padding: 0 1%;
}

img, iframe{
    height: auto;
    margin: 5px auto;
    width: 100%;
    alt:url(../images/card_alt.png);
}

img.card{

    max-width: 60%;
    margin-left: 20%;
}

h1 {
    font-size: 2.5em; 
}
h2 {
    font-size: 2em; 
}
h3 {
    font-size: 1.5em; 
}
h4 {
    font-size: 1.25em; 
}
h5 {
    font-size: 1em; 
}
h6 {
    font-size: 0.75em; 
}

nav ul li {    
    margin: 0;
    text-align: center;
    display: inline-block; 
    max-width: 97.50%;
}

a { 
    font-variant: small-caps;
    text-decoration: none;  
}
nav {    
    max-width: 100%;
    margin-left: 0;
}

footer {   
    float: left; 
    text-align: center;
    max-width: 1080px;
    width: 100%;
}
/*
button {
    background: url(burguer.png) no-repeat #444444;
    height: 42px;
    border-radius: 8px;
    color: #f0f0f0;
    text-align: right;
    font-size: bold;
    font-size: 1.125em;
    width: 140px;
    border: none; 
    margin: 15px 2px 2px 8px;
}
*/

.menu-abrir,
.menu-fechar {
    background: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    font-size: 1.6em;
    text-indent: -999em;
}

.menu-abrir {
    height: 0;
    width:.75em;
    padding-top:.125em;
    border-top: .375em double #000;
    border-bottom: .125em solid #000;

    vertical-align: middle;
    margin: 0.5em;
}

.menu-fechar {
    position: relative;
    height: 1em;
    width: 1em;
}

.menu-fechar:before {
    content: '\00D7';
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0;
}

.header-meu-filme {

    background: url(../images/cabecalho_background.png) round transparent;
    height: 150px;
}

.footer-meu-filme {

    background: url(../images/rodape_background.png) space transparent;
    height: 130px;
}

.detail-movie{

    background-color: #666666;
    width: 100%;
    max-width: 1080px;
    height: auto;  
    min-height: 360px;  
    
}
.detail-image{       
    max-width: 30%;
    height: auto;     
    margin-left: 2%;
    float: left;
    max-height: 330px;
    
}
.detail-title{
    font-size: 1.75em;
    font-weight: bold;
    text-align: left;
    margin-left: 0.5%;    
    color: #f8f8f8;
    
}
.detail-overview{
    font-size: 1em;
    font-style: italic;
    text-align: left;
    margin-left: 0.5%;    
    color: #f8f8f8;
}
.detail-info {
    
    width: 50%;
    margin-left: 35%;
    margin-top: 0; 
    
     
}

.detail-action {

    font-size: 0.75em;
    color: #aaaaaa;
    

}

.card-meu-filme {
    
    border-radius: 5px;
    background-color: #eeeeee;
    margin: 0.2%;     
}
.card-title{
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    margin: 2px auto auto 2px;
    float: initial; 
    background-color: #f8f8f8;
}
.card-div-date{

    background: url(../images/calendar.png) no-repeat transparent;
    text-align: center;    
    float: left;
    font-style: italic;
    color: #666666;
    width: 40%;
    height: 35px;
    margin: 2% 0 2% 0;
    padding: 2%;
}

.card-div-rate{
    
    background: url(../images/rate.png) no-repeat transparent;
    background-position: right;
    background-position-y: 0px;
    text-align: center;
    float: right;
    font-style: italic;
    color: #666666;
    width: 40%;
    height: 35px;
    margin: 2% 0 2% 0;
    padding: 2%;    
}

.card-action{

    font-size: 0.75em;
    color: #aaaaaa;
    float: right;
}

.w-border {
    border: 2px solid red;

}


@media (min-width: 500px) {
    html {
        font-size: 1.125em;
    }
    section.grid {
        width: 24.5%;
        float: left;
    } 
    section.card {
        width: 49%;
        float: left;
    }

    nav ul li {        
        width: 49.50%;        
    }      
    section.media{
        height: auto;
        float: left;
    }    
}

@media (min-width: 960px) {
    html {
        font-size: 1.25em;
    }
    section.grid {
        width: 12%;
        float: left;
    }

    section.card {
        width: 24%;
        float: left;
    }
    .card-div-rate{
        text-align: left;
    }
    .card-div-date{
        text-align: right;
    }

    section.media{
        height: auto;
        width: 49.5%;
        float: left;
    }

    nav ul li {        
        width: 24.5%; 
    }  

    .formulario{

       width: 49.5%;
       margin-right: 25%;


    }     

}


@media (max-width: 500px) {
  .navegacao {
      background: #f0f0f0;
      padding: 1em;
      margin: 0;

      height: 100%;
      width: 90%;
      max-width: 320px;

      position: fixed;
      z-index: 1;
      top: 0;
      left: -90%;

      transition: left 0.3s ease-out;
  }
  .menu-ativo .navegacao {
      left: 0;
  }
  .menu-principal li {
      padding: 1em 0;
      width: 100%;
  }
  .menu-ativo:after {
        content: "";
        display: block;

        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background: rgba(0,0,0,0.4);
    }
}

@media not all and (max-width: 500px) {
    .menu-abrir,
    .menu-fechar {
        display: none;
    }
}

.container{
    float: left;
}

.formulario {
    position: relative;
    float: left;
    width: 100%;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid ;
    border-radius: 4px;
}
button.cadastro{
    width: 100%;
    text-align: center;
    font-size: 1em;
}

cadastro{
    width: 100%; 
}